.googlebutton {
  width: 100%;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5) !important;
  font-size: 1rem !important;
  border-radius: 100px !important;
  text-align: center !important;
  color: #d11d67 !important;
  background: #fff !important;
}
.googlebutton:hover {
  box-shadow: inset 9px 9px 16px rgba(163, 177, 198, 0.6),
    inset -9px -9px 16px rgba(255, 255, 255, 0.5),
    9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5) !important;
  cursor: pointer !important;
}

.imglogin {
  display: block;
  width: 80px;
  margin: 0px auto;
  box-shadow: 0 5px 10px -7px #333333;
  border-radius: 50%;
}
