.wrap {
  width: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}
.login-image,
.login-wrap {
  width: 100%;
}
.login-image {
  width: 100% !important;
}

.form-control {
  height: 48px;
  background: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-group .label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  font-weight: 700;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.logo_container_logo {
  height: 110px;
  width: 110px;
  border: 1.5px solid #fff;
}

.logo_container_logo > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media screen and (min-width: 800px) {
  .login-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: inherit !important;
    width: 50% !important;
    padding: 2% !important;
    border-radius: 20px !important;
  }
  .login-wrap {
    width: 50%;
    box-shadow: -9px 4px 45px -19px rgba(104, 104, 104, 0.24);
  }
}